@import '../components/index.less';
.view-engine{
  box-sizing: border-box;
  .ant-row {
    padding: 3px 0;
    &.row-less {
      padding: 0;
    }
  }
  .ve-element{
    display: flex;
    align-items: baseline;
    .ve-label{
      position: relative;
      min-width: 80px;
      text-align: left;
      margin-right: 8px;
      color: #999;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:empty {
        display: none;;
      }
    }
    .ve-content{
      flex: 1 auto;
      & > .ant-form-item {
        margin: 0;
      }
    }
    &-textarea {
      align-items: center;
    }
  }
  
  .ve-title{
    &-field{
      width: 100%;
    }
  }
  
  .ve-field{
    // padding: 3px 10px;
    margin: 5px 0;
  }
}
